.navbar {
  background-color: #105d38 !important;
}

.home {
  background-color: #105d38 !important;
  height: 60vh;
}

.carousel {
  background-color: #105d38 !important;
  height: 40vh;
}

.title {
  text-align: center;
  font-size: 32px;
  padding: 30px;
}

.subtitle {
  text-align: center;
}
