<div class="container-user">
  <div class="bg-primary">
    <button
      id="btnHome"
      routerLink="/"
      type="button"
      class="btn btn-success btn-sm"
    >
      Home
    </button>
    <h1>Bienvenido! Acá podrá hacer su Crypto Multa</h1>
    <button type="button" class="btn btn-secondary" (click)="handleAuth()">
      Connect
    </button>
  </div>
  <div *ngIf="session">
    <h3>User session:</h3>
    <pre>{{ session }}</pre>
    <button type="button" (click)="signOut()">Sign out</button>
  </div>
  <div class="container-forms">
    <form>
      <fieldset class="container-input-text">
        <div class="form-group">
          <label for="description" class="form-label mt-4"
            >Introduzca la descripcion de su Crypto Multa</label
          >
          <textarea
            required
            class="form-control"
            id="description"
            name="description"
            [(ngModel)]="description"
            rows="6"
            data-dl-input-translation="true"
          ></textarea>
        </div>
      </fieldset>
      <fieldset>
        <div class="form-group">
          <label for="formFile" class="form-label mt-4"
            >Introduzca su foto multa aqui! :)</label
          >
          <input
            class="form-control"
            type="file"
            id="formFile"
            name="formFile"
            [(ngModel)]="formFile"
          />
        </div>
      </fieldset>
    </form>

    <button
      type="button"
      (click)="onSubmit()"
      class="btn btn-secondary send-btn"
    >
      Enviar Multa
    </button>
  </div>
  <h2 class="questions">Preguntas Frecuentes</h2>
  <Accordion></Accordion>
</div>
